* {
    margin: 0;
    padding: 0;
}
/********  GENERAL STYLE SETTING ***********/
html {
    font-family: 'Karla', sans-serif;
}

/******** TOP STYLE SETTING ***********/

.top-container {
    
    padding-left: 100px;
    padding-top: 50px;
}

.top-container h1 {
    font-size: 2.87rem;
    color: #24a69c;
    padding-bottom: 40px;
  
    
}

.top-container h2 {
    color: #c8df50;
    font-size: 2rem;
    padding-bottom: 30px;

}

.top-container p {
    color: #d4d7de;
    font-size: 1.8rem;
    padding-right: 300px;
}

/******** LEFT STYLE SETTING ***********/

#bottom-container {
    margin-top: 80px;
    display: flex;   
}

#left-info-container {
    background-color: #2bb3b1;
    flex: 50%;
    padding-left: 100px;
}
#right-info-container {
    flex: 50%;
    background-color: #4abebd;
    padding-left: 100px;
}

#left-info-container h1, #right-info-container h1{
    color: #f8ffff;
    font-size: 2rem;
    padding-top: 44px;
    
}

#left-info-container p {
    color: #f8ffff;
    font-size: 4rem;
    margin-top:40px;
    font-weight: 700;

}

#left-info-container p span {
    font-size: 1rem;
    color: #72c9d2;
    padding-left: 20px;

}

#left-info-container h2 {
    color: #f8ffff;
    font-size: 1.3rem;
    margin-top: 20px;
    padding-bottom: 20px;
}   

#left-info-container button {
    width: 400px;
    height: 86px;
    background-color: #bfdf32;
    text-align: center;
    color: #f8ffff;
    font-size: 2rem;
    border-radius: 15px;
    border: transparent;
    margin-bottom: 30px;
    font-weight: 400;

}

/******** RIGHT STYLE SETTING ***********/

ul {
    margin-top:40px;
    list-style: none;
    font-size: 1.3rem;
    color: #f8ffff;
    padding-bottom: 30px;
}

ul li {
    padding-bottom: 10px;
}



